.contain{
    display : flex;
    height : 960px;
    width : 960px;
    flex-wrap: wrap;
    border : solid black 3px;
}

.head{
    height : 50px;
    display : flex;
    align-items : center ;
    justify-content: center;
}

.grid{
    color : red;
}